<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  
  <title>[<%= App.app_name %>]</title>  

  <%= stylesheet_link_tag 'reset', '960', 'jquery.autocomplete', 'base', :media => 'screen', :cache => "moveup2one" -%>
  <%= yield :styles %>
  
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>
</head>

<body>
  <%= yield %>
  
  <%= javascript_include_tag 'jquery', 'jquery-ui', 'application', :cache => "moveup2one" -%>
  <%= yield :scripts %>
</body>

</html>